/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* background */

body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* mixer */

.mixer {
  display: flex;
  flex-direction: row;
}

/* channel strips */

.strip {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}

.masterStrip {
  background: darkred;
}

.trackbox {
  height: 420px;
  width: 70px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;

}

.track {
  height: 350px;
  width: 3px;
  background: black;

}


.master {
  height: 70px;
  width: 35px;
  background: red;
  position: relative;
  right: 16px;
  top: 70px;
}

.fader {
  height: 70px;
  width: 35px;
  background: grey;
  position: relative;
  right: 16px;
  top: 70px;
}

/* labels */

.label {
  margin: 15px 0 15px 0;
}

.masterStrip .label {
  color: white;
}

/* transport controls */

.transport {
  background: lightgrey;
  width: 720px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transportBox {
  border: 1px solid black;
  height: 80px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport button {
  width: 50px;
  height: 50px;
}

/* solo/mute */

.buttonBox {
  margin: 15px 0 15px 0;
}

.buttonBox button {
  width: 35px;
  height: 35px;
}

.muted {
  background: red;
}

.soloed {
  background: yellow;
}


/*Pan box*/

.panBox {
}

.panKnob {
  background: grey;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  /*transform: rotate();*/
}



.knobMark {
  height: 35px;
  width: 1px;
  background: black;
  position: relative;
  right: -35px;
}


/* effect box */

.effectBox {
  height: 100px;
  width: 100%;
}

.effectBtn {
  width: 100%;
  height: 35px;
}

.effectBtn5 {
  width: 50%;
  height: 35px;
}

.effectOn {
  background: green;
}



/* Loading box */

.loading {
  height: 250px;
  width: 500px;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  left: center;
  top: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 200%;
}


.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}
