/* general */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
button:focus {outline:0;}


/* background */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  background-image: url('.././images/steelee.png');
  /*background-size:*/
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* mixer */

.mixer {
  display: flex;
  flex-direction: row;
}

/* channel strips */

.strip {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  width: 80px;
}


.trackbox {
  height: 420px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.strip .trackbox {
  border: 1px solid black;
}


.track {
  height: 350px;
  width: 3px;
  background: black;

}


.master {
  height: 70px;
  width: 35px;
  background-image: url('../images/faderVR.png');
  background-size: cover;
  position: relative;
  right: 16px;
  top: 35px;
  -webkit-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
}

.fader {
  height: 70px;
  width: 35px;
  background-image: url('../images/faderV.png');
  background-size: cover;
  position: relative;
  right: 16px;
  top: 35px;
  -webkit-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
}

/* labels */

.label {
  font-size: 70%;
  margin: 15px 0 15px 0;
  color: lightgrey;
}

.masterStrip .label {
  color: darkred;
}

.masterStrip {
  background: rgba(255, 0, 0, 0.1);
  /*border: 1px solid rgba(255, 0, 0, 0.15);*/
}

.masterSpace {
  height: 135px;
}

/* transport controls */

.transport {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transportBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.transport button {
  width: 50px;
  height: 50px;

  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;

  font-weight: 900;
}

.transport button:active {
    filter: brightness(85%);
}



/* solo/mute */

.buttonBox {
  margin: 7.5px 0 7.5px 0;
}

.buttonBox button {
  width: 35px;
  height: 35px;
  font-weight: 900;

}

.solo, .mute {
  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;

}

.solo:active, .mute:active {
      filter: brightness(85%);
}

.muted {
  background-image: url('../images/red.png');
  background-size: cover;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(254,44,2,1);
  -moz-box-shadow: 0px 0px 25px -2px rgba(254,44,2,1);
  box-shadow: 0px 0px 25px -2px rgba(254,44,2,1);
}

.soloed {
  background-image: url('../images/yellow.png');
  background-size: cover;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(255,252,4,1);
  -moz-box-shadow: 0px 0px 25px -2px rgba(255,252,4,1);
  box-shadow: 0px 0px 25px -2px rgba(255,252,4,1);
}


/*Pan box*/

.panBox {
  margin: 7.5px 0 7.5px 0;
  background-size: 130%;
  background-position: left;
  height: 70px;
  width: 70px;
  background-image: url('../images/knobBack_Fotor.png');
  background-size: contain;
  background-position: 0 0.5px;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}



.panKnob {
  background-image: url('../images/knob2v.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}



.knobMark {
  height: 35px;
  width: 1px;
  background: black;
  position: relative;
  right: -35px;
  display: none;
}


/* effect choose strip */

.chooseFx {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 17.5px;
  width: 140px;

  background: rgba(108, 44, 154, 0.1);
  /*border: 1px solid rgba(108, 44, 154, 0.15);*/
}

.chooseEffectBox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.chooseFx .label{
  color: lightgrey;
}

.chooseBtn {
  width: 140px;
  height: 35px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;
}

.chooseBtn:active {
    filter: brightness(85%);
}


/* effect box */

.effectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 7.5px 0 7.5px 0;
}

.effectBox p {
  height: 17.5px;
  font-size: 60%;
  text-align: center;
  color: lightgrey;
}

.effectBox p {
}

.chooseEffectBox {
  font-size: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 7.5px 0 7.5px 0;
}

.effectBtn {
  width: 70px;
  height: 35px;

  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;
}

.effectBtn:active {
  filter: brightness(85%);
}

.effectOn {
  background-image: url('../images/green.png');
  background-size: cover;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(2,251,5,1);
  -moz-box-shadow: 0px 0px 25px -2px rgba(2,251,5,1);
  box-shadow: 0px 0px 25px -2px rgba(2,251,5,1);


}



/* Loading box */


.loading {
  height: 250px;
  width: 500px;
  background: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgrey;
  font-size: 200%;
}

.loader {
    border: 16px solid lightgrey; /* Light grey */
    border-top: 16px solid grey; /* Blue */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
}
