/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', sans-serif;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
button:focus {outline:0;}


/* background */

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('.././images/steelee.png');
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



/* mixer */

.mixer {
  display: flex;
  flex-direction: row;
}

/* channel strips */

.strip {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  width: 80px;
}

.masterStrip {

}


.trackbox {
  height: 420px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.strip .trackbox {
  border: 1px solid black;
}

.masterStrip {
  border: 1px solid darkred;
}

.track {
  height: 350px;
  width: 3px;
  background: black;

}


.master {
  height: 70px;
  width: 35px;
  background-image: url('../images/faderVR.png');
  background-size: cover;
  position: relative;
  right: 16px;
  top: 35px;
  -webkit-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
}

.fader {
  height: 70px;
  width: 35px;
  background-image: url('../images/faderV.png');
  background-size: cover;
  position: relative;
  right: 16px;
  top: 35px;
  -webkit-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
  box-shadow: -5px -5px 49px -2px rgba(0,0,0,0.75);
}

/* labels */

.label {
  margin: 15px 0 15px 0;
  color: lightgrey;
}

.masterStrip .label {
  color: darkred;
}

.masterSpace {
  height: 135px;
}

/* transport controls */

.transport {
  /*background: lightgrey;*/
  width: 720px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transportBox {
  border: 1px solid black;
  height: 80px;
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.transport button {
  width: 50px;
  height: 50px;

  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;

  font-weight: 900;
}

.transport button:active {
    filter: brightness(85%);
}

/* solo/mute */

.buttonBox {
  margin: 7.5px 0 7.5px 0;
}

.buttonBox button {
  width: 35px;
  height: 35px;
}

.solo, .mute {
  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;

}

.solo:active, .mute:active {
      filter: brightness(85%);
}

.muted {
  background-image: url('../images/red.png');
  background-size: cover;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(254,44,2,1);
  -moz-box-shadow: 0px 0px 25px -2px rgba(254,44,2,1);
  box-shadow: 0px 0px 25px -2px rgba(254,44,2,1);
}

.soloed {
  background-image: url('../images/yellow.png');
  background-size: cover;
  -webkit-box-shadow: 0px 0px 25px -2px rgba(255,252,4,1);
  -moz-box-shadow: 0px 0px 25px -2px rgba(255,252,4,1);
  box-shadow: 0px 0px 25px -2px rgba(255,252,4,1);
}


/*Pan box*/

.panBox {
  margin: 7.5px 0 7.5px 0;
  background-size: 130%;
  background-position: left;
  height: 70px;
  width: 70px;
  background-image: url('../images/knobBack_Fotor.png');
  background-size: contain;
  background-position: 0 0.5px;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}



.panKnob {
  background-image: url('../images/knob2V.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  /*display: none*/
}



.knobMark {
  height: 35px;
  width: 1px;
  background: black;
  position: relative;
  right: -35px;
  display: none;
}


/* effect choose strip */

.chooseFx {
  /*background: #56306b;*/
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  width: 100px;
}

.chooseFx .label{
  color: white;
}

.chooseBtn {
  width: 100%;
  height: 35px;

  border-bottom: 2px solid #171717;
  border-right: 2px solid #413F3F;
  border-left: 2px solid #8B8A86;
  border-top: 2px solid #B6B5B3;

  background-image: url('../images/greyBtn.png');
  background-size: cover;
}

.chooseBtn:active {
    filter: brightness(85%);
}


/* effect box */

.effectBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 7.5px 0 7.5px 0;
}

.effectBox p {
  height: 17.5px;
  font-size: 60%;
  text-align: center;
  color: lightgrey;
}

.effectBox p {
}

.chooseEffectBox {
  font-size: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: 7.5px 0 7.5px 0;
}

.effectBtn {
  width: 70px;
  height: 35px;
}

.effectOn {
  background: green;
}



/* Loading box */

.loading {
  height: 250px;
  width: 500px;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  left: center;
  top: center;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 200%;
}


.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
}
